html, body{
    height: 100%;
    background: #FAEBD7;
}
h1{
    color: #FA8072;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    text-align: center;
}
button{
    background: #FFDAB9;
    color: #FF7F50;
    border: none;
    height: 5em;
    width: 30%;
}
.buttonArea{
    text-align: right;
}
.photoFrameLarge{
    width: 100%;
    height: 50%;
    background: #FFFAFA;
}
